// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  //background-image: url('welcome.jpg');
  @include radial-gradient(circle at 80% 30%, #1e5799 10%,  #efefef);
  min-height: 600px;
  height: 100vh;
  width: 100%;
  .welcome-main{
    *.styled-font{
      font-family: 'Fredericka the Great', cursive;
    }
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #83004e;
    color: #ffffff;
    padding: 10px;
    margin-top: 8em;
    border-radius: 5px;
    font-family: Courier;
    form{
      padding: 20px;
    }
  }
}
